@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

header {
    background-color: black;
    padding: 30px 30px 40px 30px;
    margin: -10px -8px 0px -8px;
}


header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 7vw;
    margin: 22px 0px -7px 0px;
    font-family: "Passion One", sans-serif;
    font-weight: 700;
}

.letramaior {
    font-size: 1.4em;
}

header p {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 5px 0px 15px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header p a:hover {
    text-decoration: underline;
}

#secao1 {
    background-color: rgb(255, 255, 255);
    padding: 60px 50px 80px 35px;
    margin: 0px -8px 0px -9px;
}

#secao1 p {
    color: rgb(0, 0, 0);
    margin: 0px -8px 0px -3px;
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
}
#secao1 p:hover{
    text-decoration: underline;
}
#secao2{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: -0px -8px 0px -9px;;
    height: 60%;
    padding: 66px 0px 40px 32px;
    box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.555) inset;
}
#secao2 p{
    display: inline-block;
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.315);
    margin: 0px 0px 0px 3px;
    padding: 10px;
    line-height: 2em;
}
#secao3{
    background-color: rgb(255, 255, 255);
}
#secao3 p{
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
    margin: 6px;
}
article{
    padding: 23px;
}
#secao4{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: -0px -8px 0px -9px;;
    height: 60%;
    padding: 66px 0px 40px 32px;
    box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.555) inset;
}
#secao4 p{
    display: inline-block;
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.315);
    margin: 0px 0px 0px 3px;
    padding: 10px;
    line-height: 2em;
}
#secao5{
    background-color: rgb(255, 255, 255);
}
#secao5 p{
    font-family: "Sriracha", cursive;
    font-size: 3.5vw;
    margin: 6px;
}
footer{
    background-color: black;
    margin: 10px -8px -8px -9px;
    padding: 10px;
}
footer p{
    color: aliceblue;
    margin: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer a{
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}